*{
    padding: 0;
    margin: 0;
}
  header {
      background: #181818;
      padding: 24px 0;
  }
  .container{
      max-width: 1200px;
      margin: auto;
  }
  header nav ul{
      display: flex;
      list-style: none;
  }
  header .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  header nav a {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      color: #FFFFFF;
      text-decoration: none;
  }
  header nav li {
      margin-left: 32px;
      transition: 0.4s;
  }
 header nav li:hover{
     transform: scale(1.2);
 }
header nav li:first-of-type a{
    font-size: 13px;
}
header nav li:first-of-type {
    margin-right: 24px;
}
header nav li:last-of-type a{
    font-size: 16px;
    color: #000000;
    background: #FFFFFF;
    padding: 11px 20px;
    border-radius: 14px;
}
/*main banner*/
.main_banner {
    background-image: url("../Images/IMAGE.png");
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
    box-sizing: border-box;
}
.main_banner .container{
    max-width: 580px;
    text-align: center;
    margin: inherit;
}
.container h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 1px;
}
.container h1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    color: #FFFFFF;
    margin-bottom: 18px;
}
.container p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.What_we_do{
    padding-top: 112px;
    padding-bottom: 100px;
    background-color: #000000;
}
.What_we_do .container {
    max-width: 1168px;
}
.What_we_do H3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.What_we_do H4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 42px;
}
.d_flex_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.What_we_do .d_flex_container article{
    max-width: 576px;
    position: relative;
    padding-bottom: 16px;
}
.What_we_do .d_flex_container article img{
    display: block;
    width: 100%;
}
.What_we_do .d_flex_container article .description{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 30px 45px 30px 30px;
    box-sizing: border-box;
}
.What_we_do .d_flex_container article .padding_image1{
    padding: 30px 45px 30px 30px;
}
.What_we_do .d_flex_container article .padding_image2{
    padding: 30px 32px 30px 30px;
}
.What_we_do .d_flex_container article .padding_image3{
    padding: 30px 30px 30px 30px;
}
.What_we_do .d_flex_container article .padding_image4{
    padding: 30px 66px 30px 30px;
}
.What_we_do .description H4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 15px;
    text-align: left;
}
.What_we_do .description p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 20px;
}
.sunset{
    background-image: url("../Images/Sunset.jpg");
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.text_param1{
    max-width: 298px;
    padding-right: 62px;
}
.text_param1 H4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.text_param1 p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.monstera{
    background-image: url("../Images/Monstera.jpg");
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.text_param2 {
    max-width: 273px;
    padding-right: 87px;
}
.text_param2 H4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.text_param2 p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.mountains {
    background-image: url("../Images/Mountains.jpg");
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.text_param3 {
    max-width: 254px;
    padding-right: 106px;
}
.text_param3 H4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.text_param3 p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.clients {
    padding-top: 113px;
    padding-bottom: 140px;
    background: #000000;
}
.param_clients{
    max-width: 1200px;
    margin: auto;
}
.param_clients H2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.param_clients H3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 82px;
}
.clients_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.help {
    padding-top: 120px;
    padding-bottom: 108px;
    background-color: #000000;
}
.param_help{
    max-width: 600px;
    margin: auto;
    text-align: center;
      }
.param_help h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.param_help h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
    margin-bottom: 22px;
}
.btn_read{
    background: #FFFFFF;
    border-radius: 14px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    text-decoration: none;
    padding: 5px 10px 5px 5px;
    display: inline-flex;
    align-items: center;
    }
.btn_read:before{
    display: inline-block;
    content: "";
    width: 32px;
    height: 32px;
    margin-right: 6px;
    background-image: url("../Images/Frame1.svg");
}
.new{
    background-color: #C0C0C0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
}
.newtext {
    padding-left: 30px;
    padding-right: 50px;
}
.newtext H3{
    background-color: aqua;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
}
.newtext H4{
    background-color: #181818;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    margin-bottom: 23px;
}
footer{
    background-color: #000000;
    padding-top: 100px;
    padding-bottom: 104px;
    }
.last_conteinar{
    max-width: 1168px;
    margin: auto;
    padding: 0px 136px 0px 136px;
}
.pages{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #FFFFFF;
}
.pages a{
    margin-bottom: 20px;
}
.pages p{
    ont-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
     color: #C0C0C0;
}
.menu_f{
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
    margin-right: 102px;
    width: 356px;
}
.menu_f H4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 10px;
    }
.menu_f ul li a{
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 10px;
    }
.subscribe{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #FFFFFF;
    padding-top: 36px;
    padding-bottom: 36px;
}
.subscribe H4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.subscribe p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
}
.forma{
    background: #F9FAFB;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    width: 458px;
    height: 52px;
    display: flex;
    box-sizing: border-box;
}
.forma input{
    width: 87%;
    align-items: center;
    border: none;
    border-radius: 12px;
    background-color: #F9FAFB;
}
.button{
    width: 13%;
    background: #000000;
    border-radius: 11px;
    margin: 11px 6px 11px 0px;
}
.social_media{
    display: flex;
    justify-content: space-between;
    padding-top: 56px;
}
.social_media p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.media{
    display: flex;
    }
.media li{
    margin-right: 26px;
    margin-left: 20px;
}